/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-w-2::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }
  
    .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
      --bg-opacity: 1;
      background-color: rgba(247, 250, 252, var(--bg-opacity));
    }
  
    .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
      --bg-opacity: 1;
      background-color: rgba(237, 242, 247, var(--bg-opacity));
    }
  
    .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
      border-radius: 0.25rem;
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Edge */
    }
    
    .no-scrollbar {
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
      scrollbar-width: none; /* For Firefox */
    }
    .scrollbar-hidden {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
    }
    
    .scrollbar-hidden::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
  }